JS_TOP=pminstallloc
JS_HOST=grid_host.domain_name
JS_ADMINS=sasinst
LSF_INSTALL=true
LSF_TOP=lsfinstallloc
LSF_ADMINS=sasinst
LSF_CLUSTER_NAME=sas_cluster
LSF_MASTER_LIST="grid_host.domain_name gridnodes"
LSF_ADD_SERVERS="grid_host.domain_name gridnodes"
LSF_ADD_CLIENTS="mid_host.domain_name"
SILENT_INSTALL=Y
LSF_SILENT_INSTALL_TARLIST=ALL
LSF_QUIET_INST=Y
